%header.content__title
  %h1 Dashboard

.row.quick-stats
  .col-sm-6.col-md-3
    .quick-stats__item.bg-blue
      .quick-stats__info
        %h2= number_with_delimiter User.count
        %small Total Users
      .quick-stats__chart
        .sparkline-bar-stats{ values: quick_stats_chart_values(User) }
