%header.content__title
  %h1= page_title

.row.quick-stats
  .col-sm-6.col-md-3
    .quick-stats__item.bg-blue
      .quick-stats__info
        %h2= "#{number_with_delimiter ApplicationRecord.rows_count} of #{number_with_delimiter HEROKU_ROWS_COUNT}"
        %small Database Rows