.row
  .col-lg-4.col-md-6.col-sm-12
    .card
      .card-body
        .text-center
          .mb-2
            %i.bi.bi-people.text-success.display-5
          %h6.mb-2 Total Users
          %h2.mb-3= User.count