.card
  %table.table.table-striped
    %tr
      %th IP Address
      %th Description
      %th Last Seen
    - @user.sessions.each do |session|
      %tr
        %td= session.ip_address
        %td= session.description
        %td= time_ago_in_words(session.last_seen_at) + ' ago'