@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

.me-container {
  display: flex;
  flex-direction: column;
  height: 100%;

  .me-nav {
    flex: 0;
    padding-right: 2rem;
    flex-direction: row !important;
    padding-bottom: 1rem;
  }

  .me-body {
    flex: 1;
  }

  .card-header .card-title {
    margin-bottom: 0;
  }
}
