$dove-gray: #6e6e6e;
$solitude-gray: #eceff1;
$gainsboro-gray: #ddd;
$aluminium-gray: #868e96;
$shamrock-green: #32c787;
$bittersweet-red: #ff6b68;
$dodger-blue: #2196f3;
$alto: #ddd;
$oslo-gray: #868e96;
$trout: #495057;
