body {

  div {
    &:where(.swal2-container) {
      button {
        &:where(.swal2-styled).swal2-confirm {
          background-color: var(--bs-primary) !important;

          &:focus {
            box-shadow: unset;
          }
        }
      }

      h2 {
        &:where(.swal2-title) {
          color: var(--bs-heading-color);
        }
      }
    }

    &:where(.swal2-icon).swal2-success {
      .swal2-success-ring {
        border: 0.25em solid rgba($color: $success, $alpha: 0.3);
      }

      [class^="swal2-success-line"] {
        background-color: var(--bs-success);
      }
    }
  }
}

[data-bs-theme="dark"] {
  div:where(.swal2-container) div:where(.swal2-footer){
    border-color: $border-color-dark;
  }

  div:where(.swal2-container) div:where(.swal2-popup) {
    background: $body-bg-dark !important;
  }

  div:where(.swal2-container) .swal2-html-container {
    color: $body-color-dark;
  }
}