= paginate @users, remote: true
/       %ul.pagination.float-right
/         %li.footable-page-arrow.disabled
/           %a{"data-page" => "first", :href => "#first"} «
/         %li.footable-page-arrow.disabled
/           %a{"data-page" => "prev", :href => "#prev"} ‹
/         %li.footable-page.active
/           %a{"data-page" => "0", :href => "#"} 1
/         %li.footable-page
/           %a{"data-page" => "1", :href => "#"} 2
/         %li.footable-page-arrow
/           %a{"data-page" => "next", :href => "#next"} ›
/         %li.footable-page-arrow
/           %a{"data-page" => "last", :href => "#last"} »