- @users.each do |user|
  %tr
    %td.d-none.d-md-table-cell
      = user_status_badge(user)
    %td
      = user_name(user)
    %td.text-right
      - if policy(user).show?
        = link_to user_path(user), class: "btn btn-outline-secondary btn-sm" do
          %i.fa.fa-eye
          .d-none.d-sm-inline
            Show