- @users.each do |user|
  %tr
    %td.d-none.d-md-table-cell
      = user_status_badge(user)
    %td= user_name(user)
    %td.text-end
      - if policy(user).show?
        = link_to user_path(user), class: "btn btn-secondary btn-sm" do
          = material_icon("visibility")
          .d-none.d-sm-inline
            Show