.ibox
  .ibox-title
    %h3= page_title
    .ibox-tools
      - if policy(User).new?
        %a.btn.btn-primary{ href: new_user_path }
          %i.fa.fa-plus
          Invite User

  .ibox-content
    = render(PaginatedTableComponent, objects: @users, object_class: 'users') do |component|
      - component.with(:head) do
        %tr
          %th Email
          %th Role
          %th Actions
      - component.with(:body) do
        = render 'users'
