.ibox
  .ibox-title
    %h3= page_title
    .ibox-tools
      %a.btn.btn-primary{ href: new_user_path }
        %i.fa.fa-plus
        Invite User

  .ibox-content
    .table-responsive
      %table.table.table-striped
        %thead
          %tr
            %th Email
            %th Actions
        %tbody
          = render 'users'


