%header.content__title
  %h1= page_title
  .actions
    - if policy(User).new?
      %a.btn.btn-primary{ href: new_user_path }
        %i.fa.fa-plus
        Invite User

.card
  .card-body
    %table.table.table-striped.mb-0
      %thead
        %tr
          %th Email
          %th Role
          %th Actions
      %tbody{ id: "users-body" }
        = render 'users'
    %div{ id: "users-paginator" }
      = paginate @users, remote: true