%header.content__title
  %h1= page_title
  .actions
    - if policy(User).new?
      %a.btn.btn-outline-primary{ href: new_user_path }
        %i.fa.fa-plus
        .d-none.d-sm-inline
          Invite User

.card
  .table-responsive
    %table.table.border.text-nowrap.mb-0.align-middle
      %thead.text-dark.fs-4
        %tr
          %th.d-none.d-md-table-cell{ width: "10px" } &nbsp;
          %th Name
          %th &nbsp;
      %tbody{ id: "body" }
        = render 'users'
    %div{ id: "paginator" }
      = render "paginator"
