.action-btn.layout-top-spacing.mb-7.d-flex.align-items-center.justify-content-between.flex-wrap.gap-6
  %h5.mb-0.fs-5= page_title
  - if policy(User).new?
    = link_to new_user_path, class: "btn btn-primary" do
      %i.fa.fa-plus
      .d-none.d-sm-inline
        Invite User

.card
  .card-body
    .table-responsive
      %table.table.table-striped
        %thead
          %tr
            %th Name
            %th.d-none.d-md-table-cell State
            %th &nbsp;
        %tbody{ id: "body" }
          = render 'users'
      %div{ id: "paginator" }
        = render "paginator"
