%header.content__title
  %h1 Users
  .actions
    = link_to "", new_user_path, class: 'actions__item zmdi zmdi-plus'

.card
  %table.table.table-striped
    %thead
      %tr
        %th Email
        %th Name
        %th &nbsp;
    %tbody#users
      = render 'users'
  #paginator
    = render 'paginator'