.card.mb-3
  .card-body
    .row
      .col.d-flex.align-items-center
        %h3.mb-0.text-secondary-emphasis= page_title
      .col.d-flex.justify-content-end.align-items-center
        - if policy(User).new?
          = link_to new_user_path, class: "btn btn-primary fw-semibold" do
            %i.bi.bi-plus
            .d-none.d-sm-inline
              User

.card
  .table-responsive.table-with-out-card-body
    %table.table.table-striped
      %thead
        %tr
          %th Name
          %th.d-none.d-md-table-cell State
          %th &nbsp;
      %tbody{ id: "users-table-rows" }
        = render 'users'
    %div{ id: "users-paginator" }
      = render "paginator"