%header.content__title
  %h1 Users
  .actions
    = link_to "", new_user_path, class: 'actions__item zmdi zmdi-plus'
    
.card
  %table.table.table-striped
    %thead
      %tr
        %th Name
        %th Email
        %th &nbsp;
    %tbody
      - @users.each do |user|
        %tr
          %td= user.name || 'n/a'
          %td= user.email
          %td.right
            = link_to "Show", user, class: 'btn btn-outline-primary btn-sm'