.ibox
  .ibox-title
    %h3= page_title
    .ibox-tools
      - if policy(User).new?
        %a.btn.btn-primary{ href: new_user_path }
          %i.fa.fa-plus
          Invite User

  .ibox-content
    .table-responsive
      %table.table.table-striped
        %thead{ id: "users-head" }
          %tr
            %th Email
            %th Role
            %th Actions
        %tbody{ id: "users-body" }
          = render 'users'
      %div{ id: "users-paginator" }
        = paginate @users, remote: true

