%nav.nav.nav-pills{ role: "tablist" }
  %li.nav-item{ role: "presentation" }
    %button.nav-link.active#simple-form-tab{ "aria-controls" => "simple-form-tab-pane", "aria-selected" => "true", "data-bs-target" => "#simple-form-tab-pane", "data-bs-toggle" => "tab", role: "tab", type: "button" } Simple Form
  %li.nav-item{ role: "presentation" }
    %button.nav-link#modals-tab{ "aria-controls" => "modals-tab-pane", "aria-selected" => "false", "data-bs-target" => "#modals-tab-pane", "data-bs-toggle" => "tab", role: "tab", type: "button" } Remote Modals
.tab-content.mt-4
  .tab-pane.fade.show.active#simple-form-tab-pane{ role: "tabpanel", aria_labelledby: "simple-form-tab", tabindex: "0" }
    = render 'simple_form'
  .tab-pane.fade#modals-tab-pane{ role: "tabpanel", aria_labelledby: "modals-tab", tabindex: "0" }
    = render 'remote_modals'
