.mt-4.text-center
  - if controller_name != 'sessions'
    = link_to new_session_path(resource_name), class: "btn btn-sm btn-outline-secondary mt-3 d-block" do
      Sign In

  - if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
    = link_to new_password_path(resource_name), class: "btn btn-sm btn-outline-secondary mt-3 d-block" do
      Forgot your password?

  - if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks'
    = link_to new_unlock_path(resource_name), class: "btn btn-sm btn-outline-secondary mt-3 d-block" do
      Didn't receive unlock instructions?