= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
  = f.error_notification
  = f.input :email, autofocus: true, autocomplete: "email"
  = f.button :submit, "Email Reset Password Instructions"