.card.bg-body-tertiary.mb-3
  .card-header
    %h5.card-title About
  .card-body
    = render 'me_form'

.card.bg-body-tertiary
  .card-header
    %h5.card-title Theme
  .card-body
    .btn-group{"aria-label" => "Preferences Theme", :role => "group", data: { controller: "theme-chooser" } }
      %button.btn.btn-primary{ data: { action: "click->theme-chooser#changeTheme", theme: "light", theme_chooser_target: "light" }  }
        = material_icon("light_mode")
        Light
      %button.btn.btn-primary{ data: { action: "click->theme-chooser#changeTheme", theme: "dark", theme_chooser_target: "dark" }  }
        = material_icon("dark_mode")
        Dark
      %button.btn.btn-primary{ data: { action: "click->theme-chooser#changeTheme", theme: "auto", theme_chooser_target: "auto" }  }
        = material_icon("routine")
        Auto
