.me-container
  %nav.nav.me-nav.nav-pills{ role: "tablist" }
    %li.nav-item{ role: "presentation" }
      %button.nav-link.active#preferences-tab{ "aria-controls" => "preferences-tab-pane", "aria-selected" => "false", "data-bs-target" => "#preferences-tab-pane", "data-bs-toggle" => "tab", role: "tab", type: "button" } Preferences
    %li.nav-item{ role: "presentation" }
      %button.nav-link#security-tab{ "aria-controls" => "security-tab-pane", "aria-selected" => "false", "data-bs-target" => "#security-tab-pane", "data-bs-toggle" => "tab", role: "tab", type: "button" } Security
  .tab-content.me-body
    .tab-pane.fade.show.active#preferences-tab-pane{ role: "tabpanel", aria_labelledby: "preferences-tab", tabindex: "1" }
      = render 'preferences'
    .tab-pane.fade#security-tab-pane{ role: "tabpanel", aria_labelledby: "security-tab", tabindex: "2" }
      = render 'security'
