- if policy(<%= class_name %>).new?
  - content_for(:page_actions) do
    = link_to new_<%= singular_table_name %>_path, class: "btn btn-success btn-lg fw-semibold" do
      %i.fa.fa-plus
      .d-none.d-sm-inline
        <%= singular_table_name.titleize %>

.card
  .card-body
    .table-responsive
      %table.table.table-striped
        %thead
          %tr
          <%- attributes.each do |attribute| -%>
            %th <%= attribute.name.humanize %>
          <%- end -%>
            %th &nbsp;
        %tbody{ id: "<%= plural_table_name %>-body" }
          = render 'table_rows'
      %div{ id: "<%= plural_table_name %>-paginator" }
        = render "paginator"

- if policy(User).new?
  - content_for(:page_actions) do
    = link_to new_user_path, class: "btn btn-success btn-lg fw-semibold" do
      %i.fa.fa-plus
      .d-none.d-sm-inline
        Invite User
