.card.bg-body-tertiary.mb-3
  .card-body
    .row
      .col.d-flex.align-items-center
        %h3.mb-0.text-secondary-emphasis= page_title
      .col.d-flex.justify-content-end.align-items-center
        .d-flex.gap-2
          - if policy(<%= class_name %>).new?
            = link_to new_<%= singular_table_name %>_path, class: "btn btn-primary btn-lg" do
              = material_icon("add")
              .d-none.d-sm-inline
                <%= singular_table_name.titleize %>

= render 'table'
