.content__inner.content__inner--sm
  %header.content__title
    %h1
      = page_title
    %small TODO

    .actions
      - if policy(@<%= singular_table_name %>).edit?
        = link_to edit_<%= singular_table_name %>_path(@<%= singular_table_name %>), class: "btn btn-outline-secondary btn-sm mr-2" do
          %i.fa.fa-edit
          .d-none.d-md-inline
            Edit
      - if policy(@<%= singular_table_name %>).destroy?
        = link_to @<%= singular_table_name %>, class: "btn btn-outline-danger btn-sm", data: { method: :delete, confirm: "Are you sure you want to delete this <%= singular_table_name %>?" } do
          %i.fa.fa-trash
          .d-none.d-md-inline
            Delete

  .tab-container
    %ul.nav.nav-tabs{:role => "tablist", style: 'background-color:white;padding:0.5rem 1rem 2px' }
      %li.nav-item
        %a.nav-link.active{"data-toggle" => "tab", href: "#overview", role: "tab"} Overview

    .tab-content
      #overview.tab-pane.active.fade.show{:role => "tabpanel"}
        = render 'overview'

