@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

.breadcrumb {
  margin-bottom: 0;
}

.breadcrumb-item a {
  color: var(--bs-btn-color);

  &:hover {
    color: var(--bs-primary);
  }
}
