@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

@import "../variables";

@include media-breakpoint-up(lg) {
  #sidebar {
    bottom: 0;
    left: 0;
    position: fixed;
    top: 0;
    width: $sidebar-width;
  }

  #main {
    padding-left: $sidebar-width;
    transition: padding-left 0.3s ease;
  }
}

[data-show-sidebar="NO"] {
  @include media-breakpoint-up(lg) {
    #sidebar {
      width: 0;
    }

    #main {
      padding-left: 0;
    }
  }
}
