@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

@import "../variables";

.navbar {
  background-color: var(--bs-body-bg);
  height: $navbar-height;
}

.navbar-sidebar-toggle {
  margin-right: 0.5rem;
  position: relative;
  top: 0.1rem;
}

[data-show-sidebar="yes"] .navbar-sidebar-toggle {
  display: none;
}

[data-show-sidebar="no"] .navbar-sidebar-toggle {
  display: block;
}

[data-show-sidebar="yes"] {
  @include media-breakpoint-down(lg) {
    .navbar-sidebar-toggle {
      display: block;
    }
  }
}
