@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

$navbar-height: 60px;

.navbar {
  height: $navbar-height;
}

.navbar-sizebar-toggle {
  display: none;
  margin-right: 0.5rem
}

.sidebar-hidden .navbar-sizebar-toggle {
  display: block;
}

@include media-breakpoint-down(md) {
  .sidebar-shown .navbar-sizebar-toggle {
    display: block;
  }
}
