@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

.sidebar-container {
  display: flex;
  flex-direction: column;
  position: relative;
  transition: all 0.3s ease;

  .nav-link {
    color: var(--bs-btn-color);
  }

  &.hide {
    width: 0;
    z-index: -10;
  }

  @include media-breakpoint-down(md) {
    &.hide {
      display: flex;
    }
  }
}
