@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

.sidebar-container {
  display: flex;
  flex-direction: column;

  .nav-link {
    color: var(--bs-btn-color);
  }

  &.hide {
    display: none;
  }

  @include media-breakpoint-down(md) {
    &.hide {
      display: flex;
    }
  }
}
