// scss-lint:disable IdSelector
#page-loader {
  height: 100%;
  position: relative;

  .page-loader__spinner {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
// scss-lint:enable IdSelector
