.form-control[readonly]:not([disabled]) {
  opacity: 1;
}

.form-group-toggle-switch {
  .toggle-switch {
    height: 15px;
  }

  .invalid-tooltip {
    display: block;
  }

  &.form-group-invalid .toggle-switch__helper:before {
    background-color: #ff6b68;
  }
}

.checkbox, .radio {
  .invalid-feedback {
    display:block;
  }

  .checkbox__label, .radio__label {
    &::before {
      border: 2px solid #6e6e6e;
    }

    &.is-invalid::before {
      border-color: #ff6b68;
    }
  }
}

.custom-file-input ~ .custom-file-label {
  border-top: 0;
  border-left: 0;
  border-right: 0;

  &::after {
    border-top: 1px solid #eceff1;
    border-left: 1px solid #eceff1;
    border-right: 1px solid #eceff1;
    padding-left: 1em;
    padding-right: 1em;
  }
}

.form-group.datetime, .form-group.date, .form-group.time  {
  .invalid-tooltip {
    display: block;
  }
}