- if defined?(message) && !message.blank?
  .alert.alert-dismissible.fade.show{ role: "alert", class: "alert-#{type}" }
    = message
    %button.close{ "aria-label" => "Close", "data-dismiss" => "alert", type: "button" }
      %span{ "aria-hidden" => "true" }
        &times;