.toast-container.position-absolute.end-0.top-0{ style: "margin-top: 80px;margin-right: 16px" }
  = render partial: 'toast', locals: { message: notice, type: :success } if notice
  = render partial: 'toast', locals: { message: alert, type: :danger } if alert