%header.header
  .navigation-trigger.hidden-xl-up{"data-ma-action" => "aside-open", "data-ma-target" => ".sidebar"}
    .navigation-trigger__inner
      %i.navigation-trigger__line
      %i.navigation-trigger__line
      %i.navigation-trigger__line
  .header__logo.hidden-sm-down
    %h1
      = link_to "Social Growers", root_path