%header.header
  .navigation-trigger{ "data-ma-action" => "aside-open", "data-ma-target" => ".sidebar", class: layout_navigation_trigger_class }
    .navigation-trigger__inner
      %i.navigation-trigger__line
      %i.navigation-trigger__line
      %i.navigation-trigger__line
  .header__logo.hidden-sm-down
    %h1
      %a{ href: root_path }= PLATFORM_TITLE