%nav.navbar.navbar-expand-lg.sticky-top
  %a.btn.btn-light-dark.btn-navbar.btn-transparent.navbar-sidebar-toggle{ data: { action: "click->sidebar#toggle" } }
    = material_icon("dock_to_right")
  = link_to PLATFORM_TITLE, root_path, class: "navbar-brand"
  .navbar-nav.ms-md-auto
    = link_to me_path, class: "btn btn-light-dark btn-transparent btn-navbar" do
      = material_icon("account_circle")
