%nav.navbar.navbar-expand-lg.sticky-top
  .container-fluid.px-3
    %a.btn.btn-light-dark.btn-navbar.btn-transparent.navbar-sizebar-toggle{ data: { action: "click->sidebar#show" } }
      = material_icon("dock_to_right")
    = link_to PLATFORM_TITLE, root_path, class: "navbar-brand"
    .navbar-nav.ms-md-auto
      - if policy(current_user).edit?
        = link_to me_path, class: "btn btn-light-dark btn-transparent btn-navbar" do
          = material_icon("account_circle")
