%nav.navbar.navbar-expand-lg.sticky-top
  %a.btn.btn-light-dark.btn-navbar.btn-transparent.navbar-sidebar-toggle{ data: { action: "click->sidebar#toggle" } }
    = material_icon("dock_to_right")
  = link_to PLATFORM_TITLE, root_path, class: "navbar-brand me-0"
  .navbar-nav.ms-md-auto{ style: "width: 60px" }
    &nbsp;
