%nav.navbar.navbar-expand-lg.sticky-top
  .container-fluid
    %a.btn.btn-light.fw-2.navbar-sizebar-toggle.mx-1{ data: { action: "click->sidebar#show" } }
      = material_icon("dock_to_right")
    = link_to PLATFORM_TITLE, root_path, class: "navbar-brand"
    %ul.navbar-nav.flex-row.flex-wrap.ms-md-auto
      = render 'theme_dropdown'
