.app-header.d-flex.align-items-center
  .d-flex
    %button.toggle-sidebar{ data: { action: "sidebar-toggle#toggle" } }
      %i.bi.bi-list.lh-1
    %button.pin-sidebar{ data: { action: "sidebar-toggle#pin" } }
      %i.bi.bi-list.lh-1
  %h5.m-0.ms-2.fw-semibold= page_title
