%nav.navbar.navbar-expand-lg.sticky-top
  .container-fluid
    = link_to PLATFORM_TITLE, root_path, class: "navbar-brand"
    %ul.navbar-nav.flex-row.flex-wrap.ms-md-auto
      = render 'theme_dropdown'
