.content__header.content__boxed.overlapping.mb-4
  .content__wrap
    .d-md-flex.align-items-end
      .me-auto
        = render 'breadcrumbs'
        - if page_title
          %h1.page-title.mb-0.mt-2= page_title
        - if page_subtitle
          %p.lead.mb-lg-0= page_subtitle
      - if content_for?(:page_actions)
        .flex-grow-1.d-flex.flex-wrap.justify-content-end.align-items-center.gap-3
          = yield :page_actions
