#sidebar.sidebar-container.offcanvas-lg.offcanvas-start{ data: { sidebar_target: "sidebar" }, "aria-labelledby" => "sidebarLabel", :tabindex => "-1"}
  %nav.navbar.bg-body-tertiary
    %a.btn.btn-light-dark.btn-transparent.btn-navbar.ms-2{ data: { action: "click->sidebar#toggle" } }
      = material_icon("dock_to_right")
  .overflow-scroll.d-flex.flex-column.flex-grow-1.bg-body-tertiary
    = render 'sidebar_body'
