%aside.left-sidebar.with-vertical
  %div
    %nav.sidebar-nav.scroll-sidebar{"data-simplebar" => ""}
      %ul#sidebarnav
        - if policy(:dashboard).show?
          %li.sidebar-item
            = link_to dashboard_path, class: "sidebar-link #{active_sidebar_tab_for_path(dashboard_path)}" do
              %i.bi.bi-bar-chart-line
              %span.menu-text Dashboard
        - if policy(User).index?
          %li.sidebar-item
            = link_to users_path, class: "sidebar-link #{active_sidebar_tab_for_path(users_path)}" do
              %i.bi.bi-people
              %span.menu-text Users
