%li.nav-item.dropdown
  %a.nav-link.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", :href => "#", :role => "button"}
    = material_icon("routine", { data: { theme_target: "dropdownToggle" } })
  %ul.dropdown-menu.dropdown-menu-end
    %li
      %a.dropdown-item{ data: { action: "click->theme#changeTheme", theme: "light", theme_target: "light" } }
        = material_icon("light_mode")
        Light
    %li
      %a.dropdown-item{ data: { action: "click->theme#changeTheme", theme: "dark", theme_target: "dark" } }
        = material_icon("dark_mode")
        Dark
    %li
      %a.dropdown-item.active{ data: { action: "click->theme#changeTheme", theme: "auto", theme_target: "auto"  } }
        = material_icon("routine")
        Auto