.toast.align-items-center{"data-controller" => "toast", "aria-atomic" => "true", "aria-live" => "assertive", :role => "alert", class: (:success == type ? "text-bg-success" : "text-bg-danger") }
  .d-flex
    .toast-body
      = message
    %button.btn-close.me-2.m-auto.btn-close-white{"aria-label" => "Close", "data-bs-dismiss" => "toast", :type => "button"}