@import 'mixins';

.flatpickr-calendar .hasTime .noCalendar {
  width: 266px;
}

.flatpickr-current-month .flatpickr-monthDropdown-months {
  background: none;
  font-weight: bold;
}

.numInputWrapper span:hover {
  background: inherit;
}

.flatpickr-calendar {
  .flatpickr-weekday {
    color: $white;
  }
}
