@import 'mixins';
@import 'trix/dist/trix';

//
// Provides a drop-in pointer for the default Trix stylesheet that will format the toolbar and
// the trix-editor content (whether displayed or under editing). Feel free to incorporate this
// inclusion directly in any other asset bundle and remove this file.
//
//= require trix/dist/trix

// We need to override trix.css’s image gallery styles to accommodate the
// <action-text-attachment> element we wrap around attachments. Otherwise,
// images in galleries will be squished by the max-width: 33%; rule.

// scss-lint:disable ImportantRule
.trix-content {
  .attachment-gallery {
    > action-text-attachment,
    > .attachment {
      flex: 1 0 33%;
      max-width: 33%;
      padding: 0 0.5em;
    }

    &.attachment-gallery--2,
    &.attachment-gallery--4 {
      > action-text-attachment,
      > .attachment {
        flex-basis: 50%;
        max-width: 50%;
      }
    }
  }

  action-text-attachment {
    .attachment {
      max-width: 100% !important;
      padding: 0 !important;
    }
  }
}

trix-editor,
trix-toolbar {
  border-bottom: 0.0625rem solid $alto;
  border-top: 0.0625rem solid $alto;
  box-shadow: none;
  height: initial;
  outline: none;
}

trix-editor {
  &.form-control {
    height: auto;
    padding: 1rem 0;
  }

  &:empty:not(:focus)::before {
    color: $oslo-gray;
  }
}

trix-toolbar {
  padding: 0.5rem 0;

  .trix-button-group {
    border: 0;
    margin: 0 0.5rem;

    &:not(:first-child) {
      margin-left: 0;
    }

    .trix-button {
      border-bottom: 0;
    }
  }
}

.disabled {
  trix-toolbar {
    pointer-events: none;

    .trix-button {
      opacity: 0.2;
    }
  }

  trix-editor {
    pointer-events: none;

    &:empty:not(:focus)::before {
      color: $alto;
    }
  }
}

// scss-lint:enable ImportantRule
