@import 'mixins';

.form-control[readonly]:not([disabled]) {
  opacity: 1;
}

.form-group__bar {
  bottom: unset;
}

// *** Form Grouup

.form-group.datetime,
.form-group.date,
.form-group.time {
  .invalid-tooltip {
    display: block;
  }
}

.form-group.disabled {
  .custom-file-label,
  .custom-file-label::before {
    color: $gainsboro-gray;
  }
}

.form-group-valid {
  .input-group > .input-group-prepend > .input-group-text {
    border-bottom-color: $shamrock-green;
  }

  .custom-file-label {
    background-image: image-url('form-validation-valid.svg');
    background-position: center right calc(2.25rem / 4);
    background-repeat: no-repeat;
    background-size: calc(2.25rem / 2) calc(2.25rem / 2);
  }
}

.form-group-invalid {
  &.radio_buttons,
  &.check_boxes,
  &.form-group-toggle-switch {
    .invalid-tooltip {
      margin-top: 0.5rem;
    }
  }

  .checkbox__label,
  .radio__label {
    &::before {
      border-color: $bittersweet-red;
    }
  }

  .input-group > .input-group-prepend > .input-group-text {
    border-bottom-color: $bittersweet-red;
  }

  .custom-file-label {
    background-image: image-url('form-validation-invalid.svg');
    background-position: center right calc(2.25rem / 4);
    background-repeat: no-repeat;
    background-size: calc(2.25rem / 2) calc(2.25rem / 2);
  }

  &.form-group--float {
    margin-bottom: 4rem;
  }
}

// *** Toggle Switch

.form-group-toggle-switch {
  .toggle-switch {
    height: 15px;
  }

  .invalid-tooltip {
    display: block;
  }

  &.form-group-invalid .toggle-switch__helper::before {
    background-color: $bittersweet-red;
  }
}

// *** Checkbox & Radio Group

.checkbox,
.radio {
  .invalid-feedback {
    display: block;
  }

  .checkbox__label,
  .radio__label {
    &::before {
      border: 2px solid $dove-gray;
    }

    &.is-invalid::before {
      border-color: $bittersweet-red;
    }
  }
}

// *** File

.custom-file {
  .custom-file-label {
    border-left: 0;
    border-right: 0;
    border-top: 0;
    color: $dove-gray;
    padding-left: 50px;

    &::before {
      background-color: $white;
      border-left: 1px solid $solitude-gray;
      border-radius: 0;
      border-right: 1px solid $solitude-gray;
      border-top: 1px solid $solitude-gray;
      bottom: 0;
      color: $trout;
      content: '\f223';
      display: block;
      font: normal normal normal 14px/1 'Material-Design-Iconic-Font';
      font-size: inherit;
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      height: 2.25rem;
      left: 0;
      line-height: 1.5;
      padding: 0.375rem 1em;
      position: absolute;
      text-rendering: auto;
      top: 0;
      z-index: 3;
    }
  }
}

// *** Image Cropper

.form-group.image_cropper {
  display: none;
}

// *** Select2/Time Zone

.form-group-valid.select,
.form-group-valid.time_zone {
  border-bottom: 1px solid $shamrock-green;

  .select2-container--default .selection::before,
  .select2-container--default .selection::after {
    background-color: $shamrock-green;
  }

  &.form_valid_multiple {
    border-bottom-width: 2px;
  }
}

.form-group-invalid.select,
.form-group-invalid.time_zone {
  border-bottom: 1px solid $bittersweet-red;

  .select2-container--default .selection::before,
  .select2-container--default .selection::after {
    background-color: $bittersweet-red;
  }

  &.form_invalid_multiple {
    border-bottom-width: 2px;
  }
}

