= turbo_frame_tag "modal" do
  .modal.fade{ data: { controller: 'modal'} }
    .modal-dialog.modal-dialog-centered{ class: modal_size_class(@modal_size) }
      .modal-content
        .modal-header
          %h5.modal-title.pull-left= page_title
          %a{ :"data-dismiss" => "modal" }
            %i.fa.fa-times
        = turbo_frame_tag "modal-content" do
          = yield